body{
    font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: #0A131B; 
    margin: 0;
    color: white;
    box-sizing: border-box;
    
}

/* Question and answer section */
 .container{
    /* background-color: grey; */
    background-color:white;
    width:37vw;
    height: 92vh;
    margin: 3% auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

 .numquest {
    text-align: center;
    margin-top:5%;
    margin-bottom: 1%;
    font-size: 18px;
    color:rgb(66, 61, 61);
}
.style1{
   width:60%;
   height:0.3%;
   margin: auto;
   background-color:  rgb(66, 61, 61);
}

.questionbox{
    box-sizing: border-box;
    width:80%;
    height: 10vh;
    margin: 8% auto 2% auto;
    padding:10px;
    background-color: rgb(66, 61, 61);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.answerbox{
    box-sizing: border-box;
    width:100%;
    height: 30vh;
     margin:  8% auto 2% auto; 
    padding: 10px;
    /* border: 2px solid grey; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.btnanswer {
    box-sizing: border-box;
    width:15vw;
    height:8vh;
    background-color: rgb(66, 61, 61);
    padding: 2px;
    margin:5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    border-radius: 15px;
}
.sub{
     width:25%; 
    height: 10%;
    padding: 10px;
    background-color:rgb(66, 61, 61);
     /* margin:20px auto 5px auto;  */
     border-radius: 15px; 
    color:white;
    font-size: 20px;
    border: 2px solid white;
    cursor: pointer;
    position:absolute;
    top:70%;
    right:40%;
    outline: none;
}

.button{
    width:10%;
    height:10%;
    background-color:rgb(66, 61, 61);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    position: absolute;
    padding: 2%;
    right: 20%;
    bottom:2%;
    margin: 0;
}

.arrow{
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 18px solid white;
    width:0;
    height:0;
    transform:rotate(-45deg); 
    animation: move 1s ease-out infinite alternate;
}

#congrat{
    
    width:25vw;
    height:50vh;
    background-color:rgb(66, 61, 61);
    margin: 10% auto 10% auto;
    display:none;
    padding:20px;
    text-align: center;
    border-radius:15px;
}
.res{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes move{
    from{ transform: translateX(0px)}
    to{ transform: translateX(10px)}
}
.slide{
     z-index:1;
    opacity : 0; 
    transition: opacity  0.5s ;
}


  .active-slide{
    opacity: 1;
    z-index: 2; 
  }

  .button:hover{
    background-color:grey;
  }

  .sub:hover{
    background-color:grey;
  }

 
 @media (min-width: 320px) {
    .sub{
        width:45vw; 
        height:9vh ;
        font-size: 20px;
        right:23%;
        bottom:10%;
        margin-top: 4rem;
            }
    .container{
        width:80vw;
        height: 92vh;
        margin: 3% auto;
        box-sizing: border-box;
        padding: 10px;

    }
    .btnanswer {
        width:55vw;
        height:9vh;
        margin-bottom: 7px;
}
.questionbox{
    box-sizing: border-box;
    width:90%;
    height: 10vh;
    padding:10px;
    text-align: center;
    
}
.button{
    width:20%;
    height:10%;
    right: 3%;
    bottom:3%;
}
#congrat{
    width:60vw;
    height:55vh;
}
 }
@media (min-width:460px) {
    .container{
        width:60vw;
        height:92vh;
        margin: 3% auto;
        box-sizing: border-box;
        padding: 10px;
    }
    .sub{
        width:40vw; 
        height:9vh ;
        font-size: 20px;
        right:16%;
        bottom:10%;
        margin-top: 4rem;
            }
     .btnanswer{
        width:45vw;
        height:9vh;
        margin-bottom: 7px;
        }
        .questionbox{
         box-sizing: border-box;
         width:90%;
         height: 10vh;
        padding:10px;
        text-align: center;
            
        }
        .button{
            width:20%;
            height:10%;
            right: 3%;
            bottom:3%;
        }
        #congrat{
            width:50vw;
            height:55vh;
        }
}
@media (min-width:600px) {
    .container{
    width:55vw;
    height: 95vh;
    margin: 3% auto;
    box-sizing: border-box;
    padding: 10px;
}
.questionbox{
    box-sizing: border-box;
    width:90%;
    height: 15vh;
   padding:10px;
   text-align: center;
   margin-bottom: 1%;
       
   }
.sub{
    width:35vw; 
    height:9vh ;
    font-size: 20px;
    right:20%;
    bottom:10%;
    margin-top:5.5rem;
        }
.button{
width:20%;
height:10%;
right:9%;
 bottom:3%;
        }
}
@media (min-width:745px) {
    .container{
    width:50vw;
    height: 97vh;
    margin: 3% auto;
    box-sizing: border-box;
    padding: 10px;
}
.btnanswer{
    width:30vw;
    height:9vh;
    margin-bottom: 7px;
    }
.questionbox{
    box-sizing: border-box;
    width:90%;
    height: 15vh;
   padding:10px;
   text-align: center;
   margin-bottom: 1%;
       
   }
.sub{
    width:25vw; 
    height:9vh ;
    font-size: 20px;
    right:25%;
    bottom:10%;
    margin-top:6rem;
        }
.button{
width:20%;
height:10%;
right:9%;
 bottom:3%;
        }
}
@media (min-width:920px) {
    .container{
        /* background-color: grey; */
        background-color:white;
        width:37vw;
        height: 92vh;
        padding: 10px;
        position: relative;
    }
    .questionbox{
        box-sizing: border-box;
        width:80%;
        height: 10vh;
        margin: 8% auto 2% auto;
        text-align: center;
    }
    .answerbox{
        box-sizing: border-box;
        width:100%;
        height: 30vh;
    }
    .btnanswer {
        box-sizing: border-box;
        width:15vw;
        height:8vh;
        padding: 2px;
        margin:5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
    }
    .sub{
         width:30%; 
        height: 10%;
        padding: 10px;
        top:50%;
        right:35%;      
}
.button{
    width:15%;
    height:10%;
    right:16%;
     bottom:3%;
            }
     #congrat{
  width:25%;
  height:50vh;
            }
}
