body{
    font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: #0A131B; 
    margin: 0;
    color: white;
    box-sizing: border-box;
    
}

/* Question and answer section */
 .container{
    /* background-color: grey; */
    background-color:white;
    width:37vw;
    height: 92vh;
    margin: 3% auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    
}

 .numquest {
    text-align: center;
    margin-top:5%;
    margin-bottom: 1%;
    font-size: 18px;
    color:rgb(66, 61, 61);
}
.style1{
   width:60%;
   height:0.3%;
   margin: auto;
   background-color:  rgb(66, 61, 61);
}

.questionbox{
    box-sizing: border-box;
    width:80%;
    height: 10vh;
    margin: 8% auto 2% auto;
    padding:10px;
    background-color: rgb(66, 61, 61);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.answerbox{
    box-sizing: border-box;
    width:100%;
    height: 30vh;
     margin:  8% auto 2% auto; 
    padding: 10px;
    /* border: 2px solid grey; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.btnanswer {
    box-sizing: border-box;
    width:15vw;
    height:8vh;
    background-color: rgb(66, 61, 61);
    padding: 2px;
    margin:5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    border-radius: 15px;
}
.sub{
     width:13%; 
    height: 8%;
    padding: 10px;
    background-color:rgb(66, 61, 61);
     /* margin:20px auto 5px auto;  */
     border-radius: 15px; 
    color:white;
    font-size: 20px;
    border: 2px solid white;
    cursor: pointer;
    position:absolute;
    top:70%;
    right:43%;
    outline: none;
}

.button{
    width:10%;
    height:10%;
    background-color:rgb(66, 61, 61);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    position: absolute;
    padding: 2%;
    right: 20%;
    bottom:2%;
    margin: 0;
}

.arrow{
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 18px solid white;
    width:0;
    height:0;
    transform:rotate(-45deg); 
    animation: move 1s ease-out infinite alternate;
}
@keyframes move{
    from{ transform: translateX(0px)}
    to{ transform: translateX(10px)}
}
.slide{
     z-index:1;
    opacity : 0; 
    transition: opacity  0.5s ;
}


  .active-slide{
    opacity: 1;
    z-index: 2; 
  }

  .button:hover{
    background-color:grey;
  }

  .sub:hover{
    background-color:grey;
  }

 /* #congrat{
    box-sizing: border-box;
    width: 30vw;
    height:70vh;
    background-color:rgb(66, 61, 61);
    margin: 5% auto 2% auto;
    border-radius: 20px;
    padding:10px;
} */

@media (max-width: 860px) {
    .sub{
        width:25%; 
        height:10% ;
        font-size: 20px;
        right:38%;
        bottom:10%;
        margin-top:20px;
    }
    .container{
        width:40vw;
    }
    .btnanswer {
        box-sizing: border-box;
        width:25vw;
        height:8vh;
}
.questionbox{
    box-sizing: border-box;
    width:80%;
    height: 10vh;
    margin: 8% auto 2% auto;
    padding:10px;
    background-color: rgb(66, 61, 61);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.questionbox{
    
    width:90%;
    height: 12vh;
    margin: 8% auto 2% auto;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.button{
    width:12%;
    height:10%;
    
    right: 16%;
    bottom:3%;
}
    
}
